<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layoutForm.html}">

<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <title>Add Teacher</title>
</head>

<body class="theme-red">

<section class="content" layout:fragment="custom-content">
    <div class="container-fluid">
        <div class="row clearfix">
            <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                    <div class="header">
                        <h2 class="text-center">
                            Add Teacher
                        </h2>
                        <ul class="header-dropdown m-r--5">
                            <li class="dropdown">
                                <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown"
                                   role="button" aria-haspopup="true" aria-expanded="false">
                                    <i class="material-icons">more_vert</i>
                                </a>
                                <ul class="dropdown-menu pull-right">
                                    <li><a href="javascript:void(0);">Action</a></li>
                                    <li><a href="javascript:void(0);">Another action</a></li>
                                    <li><a href="javascript:void(0);">Something else here</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <div class="body">
                        <form id="addSponsorFrm" th:action="@{/teacher/save}" th:object="${teacher}" th:method="post">

                            <div class="form-group form-float">
                                <div class="form-line">
                                    <select id="course" th:field="*{courseName}" class="form-control show-tick">
                                        <option th:value="select" selected>Select Course</option>
                                        <option th:value="Academy">Academy</option>
                                        <option th:value="Boy_Nazira">Boy's Nazira</option>
                                        <option th:value="Banaat_Nazira">Banaat Nazira</option>
                                        <option th:value="Boy_Hifz">Boy's Hifz</option>
                                        <option th:value="Banaat_Hifz">Banaat Hifz</option>
                                        <option th:value="Alim">Alim</option>
                                        <option th:value="Alima">Alima</option>
                                        <option th:value="Standardized_Test">Standardized Test</option>
                                    </select>
                                </div>
                            </div>

<!--                            <div id="academicField" class="form-group form-float">-->
<!--                                <div class="form-line">-->
<!--                                    <select id="academic" class="form-control show-tick">-->
<!--                                        <option th:value="select_grade" selected>Select a Grade</option>-->
<!--                                        <option th:value="First_Grade">First Grade</option>-->
<!--                                        <option th:value="Second_Grade">Second Grade</option>-->
<!--                                        <option th:value="Third_Grade">Third Grade</option>-->
<!--                                        <option th:value="Fourth_Grade">Fourth Grade</option>-->
<!--                                        <option th:value="Fifth_Grade">Fifth Grade</option>-->
<!--                                        <option th:value="Sixth_Grade">Sixth Grade</option>-->
<!--                                        <option th:value="Seventh_Grade">Seventh Grade</option>-->
<!--                                     </select>-->
<!--                                </div>-->
<!--                            </div>-->

                            <div class="form-group form-float">
                                <div class="form-line">
                                    <input th:field="*{className}" type="text" id="className" class="form-control">
                                    <label class="form-label">Enter Class Name</label>
                                </div>
                            </div>

                            <div class="form-group form-float">
                                <div class="form-line">
                                    <input th:field="*{teacherName}" type="text" id="teacherName" class="form-control">
                                    <label class="form-label">Teacher's Name</label>
                                </div>
                            </div>

                            <button type="submit"  class="btn btn-primary waves-effect">SUBMIT</button>
                            <button type="reset"  class="btn btn-primary waves-effect">Reset</button>
                            <span style="margin-left: 15px;: " id="teacherSaveStatus"></span>

                        </form>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>
</body>

</html>
