<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layoutForm.html}">

<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <title>Student Registration Form</title>
</head>

<body class="theme-red">


<section class="content" layout:fragment="custom-content">
    <div class="container-fluid">
        <div class="row clearfix">
            <form method="POST" id="sif" th:object="${student}" th:action="@{/student/save}">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin-bottom: 100px">
                    <div class="card">
                        <div class="header">
                            <h2 class="text-center">
                                Student Registration Form
                            </h2>
                            <ul class="header-dropdown m-r--5">
                                <li class="dropdown">
                                    <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown"
                                       role="button" aria-haspopup="true" aria-expanded="false">
                                        <i class="material-icons">more_vert</i>
                                    </a>
                                    <ul class="dropdown-menu pull-right">
                                        <li><a href="javascript:void(0);">Action</a></li>
                                        <li><a href="javascript:void(0);">Another action</a></li>
                                        <li><a href="javascript:void(0);">Something else here</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="row">
                        <div class="body">
                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                <div class="row">
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <div class="card">
                                            <div class="body">
                                                <h5> Student's Information Bellow</h5>
                                                <div class="form-group form-float">
                                                    <div class="form-line">
                                                        <input type="text" th:field="*{name}" id="name"
                                                               class="form-control">
                                                        <label class="form-label">Name</label>
                                                    </div>
                                                </div>

                                                <!--                                                <div class="form-group form-float">-->
                                                <!--                                                    <div class="form-line">-->
                                                <!--                                                        <input type="text" th:field="*{email}" id="email"-->
                                                <!--                                                               class="form-control">-->
                                                <!--                                                        <label class="form-label">Email</label>-->
                                                <!--                                                    </div>-->
                                                <!--                                                </div>-->

                                                <div class="form-group form-float">
                                                    <div class="form-line">
                                                        <label class="form-label">Gender</label>
                                                        <br>
                                                        <br>
                                                        <input type="radio" th:field="*{gender}" id="male"
                                                               th:value="Boy" checked/>
                                                        <label for="male">Boy</label>
                                                        <input type="radio" th:field="*{gender}" id="female"
                                                               th:value="Girl"/>
                                                        <label for="female">Girl</label>
                                                    </div>
                                                </div>

                                                <div id="courseForBoyDiv" class="form-group">
                                                    <div class="form-line">
                                                        <label class="form-label">Course</label>
                                                        <br>

                                                        <select id="courses" th:field="*{courseName}"
                                                                class="form-control">
                                                            <option selected th:value="Select_a_course">
                                                                -- Select a course --
                                                            </option>
                                                            <option th:value="Academy">Academy</option>
                                                            <option class="boyCourses" th:value="Boy_Nazira">Boy's
                                                                Nazira
                                                            </option>
                                                            <option class="boyCourses" th:value="Boy_Hifz">Boy's Hifz
                                                            </option>
                                                            <option class="boyCourses" th:value="Alim">Alim(7 years)
                                                            </option>
                                                            <option class="boyCourses" th:value="Ifta">Ifta(2 years)
                                                            </option>

                                                            <option class="girlCourses" th:value="Banaat_Nazira">Banaat
                                                                Nazira
                                                            </option>
                                                            <option class="girlCourses" th:value="Banaat_Hifz">Banaat
                                                                Hifz
                                                            </option>
                                                            <option class="girlCourses" th:value="Alim">Alima</option>
                                                            <option th:value="Standardized_Test">Standardized Test
                                                            </option>

                                                        </select>
                                                    </div>
                                                </div>

                                                <div id="boardingInfo" class="form-group form-float">
                                                    <div class="form-line">
                                                        <label class="form-label">Need Boarding?</label>
                                                        <br>
                                                        <br>
                                                        <input type="radio" th:field="*{boarding}" id="radio_1"
                                                               th:value="Yes"/>
                                                        <label for="radio_1">Yes</label>
                                                        <input type="radio" th:field="*{boarding}" id="radio_2"
                                                               th:value="No"
                                                               checked/>
                                                        <label for="radio_2">NO</label>
                                                    </div>
                                                </div>

                                                <label class="customLabel">Date of Birth</label>
                                                <div class="form-group">
                                                    <div class="form-line">
                                                        <input type="text" name="d" id="dob" class="form-control"
                                                               placeholder="Ex: mm/dd/yyyy">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <div class="card">
                                            <div class="body">
                                                <h5> Contact Information</h5>

                                                <div class="form-group form-float">
                                                    <div class="form-line">
                                                        <input type="text" th:field="*{parentEmail}" id="parentEmail"
                                                               class="email form-control">
                                                        <label class="form-label">Parent's Email</label>
                                                    </div>
                                                </div>

                                                <label class="customLabel">Home Phone</label>
                                                <div class="form-group">

                                                    <div class="form-line">
                                                        <input type="text" th:field="*{homePhone}" id="hPhone"
                                                               class="phone form-control phone"
                                                               placeholder="Ex: 000-000-000">
                                                    </div>
                                                </div>

                                                <div class="form-group form-float">
                                                    <div class="form-line">
                                                        <input type="text" th:field="*{motherName}" id="mName"
                                                               class="form-control">
                                                        <label class="form-label">Mother's Name</label>
                                                    </div>
                                                </div>


                                                <label class="customLabel">Mother Cell</label>
                                                <div class="form-group">
                                                    <div class="form-line">
                                                        <input type="text" th:field="*{motherCell}" id="mCell"
                                                               class="phone form-control phone"
                                                               placeholder="Ex: 000-000-000">
                                                    </div>
                                                </div>

                                                <div class="form-group form-float">
                                                    <div class="form-line">
                                                        <input type="text" th:field="*{fatherName}"
                                                               id="fName" class="form-control">
                                                        <label class="form-label">Father's Name</label>
                                                    </div>
                                                </div>

                                                <label class="customLabel">Father's Cell</label>
                                                <div class="form-group">
                                                    <div class="form-line">
                                                        <input type="text" th:field="*{fatherCell}"
                                                               class="phone form-control phone"
                                                               placeholder="Ex: 000-000-000">
                                                    </div>
                                                </div>

                                                <label class="customLabel">Emergency Contact</label>
                                                <div class="form-group">
                                                    <div class="form-line">
                                                        <input type="text" th:field="*{emgCnt}"
                                                               class="form-control phone" placeholder="Ex: 000-000-000">
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                <div class="row">
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <div class="card">
                                            <div class="body">
                                                <h5 class="text-center">Address</h5>
                                                <div class="form-group form-float">
                                                    <div class="form-line">
                                                        <input type="text" th:field="*{address}" class="form-control">
                                                        <label class="form-label">Address</label>
                                                    </div>
                                                </div>

                                                <div class="form-group form-float">
                                                    <div class="form-line">
                                                        <input type="text" th:field="*{aptNo}" class="form-control">
                                                        <label class="form-label">Apt/Floor/Suit</label>
                                                    </div>
                                                </div>

                                                <div class="form-group form-float">
                                                    <div class="form-line">
                                                        <input type="text" th:field="*{city}" class="form-control">
                                                        <label class="form-label">City</label>
                                                    </div>
                                                </div>

                                                <div class="form-group form-float">
                                                    <div class="form-line">
                                                        <label class="form-label"> State</label>
                                                        <br>

                                                        <select th:field="*{state}" class="form-control show-tick">
                                                            <option th:value="state" selected>-- Select State --</option>
                                                            <option th:value="New_York">New York</option>
                                                            <option th:value="Florida">Florida</option>
                                                            <option th:value="Texas">Texas</option>
                                                            <option th:value="California">California</option>
                                                        </select>
                                                    </div>
                                                </div>

                                                <div class="form-group form-float">
                                                    <div class="form-line">
                                                        <input type="text" th:field="*{zip}" class="form-control">
                                                        <label class="form-label">Zip</label>
                                                    </div>
                                                </div>


                                                <div class="form-group form-float">
                                                    <div class="form-line">
                                                        <input type="text" th:field="*{currentSchool}"
                                                               class="form-control">
                                                        <label class="form-label">Current School</label>
                                                    </div>
                                                </div>

                                                <div class="form-group form-float">
                                                    <div class="form-line">
                                                        <input type="text" th:field="*{currentGrade}"
                                                               class="form-control">
                                                        <label class="form-label">Current Grade</label>
                                                    </div>
                                                </div>

<!--                                                <div class="dz-message">-->
<!--                                                    <div class="drag-icon-cph">-->
<!--                                                        <i class="material-icons">touch_app</i>-->
<!--                                                    </div>-->
<!--                                                    <h3>Drop files here or click to upload.</h3>-->
<!--                                                </div>-->
<!--                                                <div class="fallback">-->
<!--                                                    <input name="file" type="file" multiple />-->
<!--                                                </div>-->

                                                <div class="photo">
                                                    <video id="videoFrame" width="300" height="300"></video>
                                                </div>


                                                <div >
                                                    <p id="studentSavingStatus" style="margin-bottom:10px;margin-top: 10px"></p>
                                                </div>

                                                <button type="submit" class="btn btn-block btn-primary waves-effect">SUBMIT</button>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </form>
        </div>
    </div>
    <script>

    </script>
</section>
</body>

</html>
