/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jun 25, 2019, 2:43:51 AM
    Author     : HP
*/
#topNavbar{
    z-index: 1000;
    position: fixed;
    top: 0;
    transition: top 0.3s;
    width: 69.7%;
}
html{
    scroll-padding-top: 60px;
    scroll-behavior: smooth;
}
body{
    background: #b9bbbe;
    /*background:url('../img/bg.jpg') fixed;*/
    background-size: cover;
    padding-top: 13px;
    margin-top: -13px;
}


a:link{
    text-decoration: none;
    color: black;
}
a:hover {
    text-decoration: none;
}

.ftrImg{
    border-radius: 4px;
}
.custom-card-body{
    padding: 10px;
    margin-bottom: 5px;
}
.catName{
    background: white;
    margin-left: 16px;
    margin-right: 16px;
    margin-bottom: 8px;
    border-radius: 4px;
}
.catName p{
    margin: 0px;
    margin-left: 0px;
    padding: 5px 0 5px 0;
    margin-left: -7px;
}

.oneCat{
    margin-bottom: 15px;
}

.postInfo{
    width: 100%;
}

@media only screen and (min-width: 768px) {
    .mainBody{
        width: 69%;
        margin: 0 auto;
    }
    .postCard{
        padding: 10px;
        margin-bottom: 6px;
    }
    .headLine{
        height: 78%;
    }
    .ftrImg{
        height: 92px;
    }
    .publisherLogo{
        height: 20px;
        float: right;
    }
    .time{
        font-size: 13px;
        float: right;
    }
    .postInfo{

    }

    .headLineAndPostInfo{

    }

    .catNav{
        background: black;
        opacity: 0.8;
    }

    catNav a:hover{
        background: black;
        opacity: 0.8;
    }

    .leftNavBar{
        background: #b9bbbe;
        z-index: 999;
        padding-right: 0;
    }



}

@media only screen and (max-width: 767px) {
    .postCard{
        padding: 10px;
        margin-bottom: 6px;
    }
    .ftrImg{
        height: 66px;
    }
    .headLine{
        height: 81%;
        font-size: 13px;
    }

    .headLineAndPostInfo{
        margin-left: -5px;
    }

    .publisherLogo{
        height: 14px;
        float: right;
    }
    .time{
        font-size: 11px;
        float: right;
    }

    .leftNavBar{
        display: none;
    }

    #topNavbar{
        width: 100%;
    }
}