<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <title>Welcome To | Bootstrap Based Admin Template - Material Design</title>
    <!-- Favicon-->
    <link rel="icon" href="favicon.ico" type="image/x-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700&subset=latin,cyrillic-ext" rel="stylesheet"
          type="text/css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" type="text/css">
    <!-- Bootstrap Core Css -->
    <link th:href="@{/plugins/bootstrap/css/bootstrap.css}" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css">


    <!-- Waves Effect Css -->
    <link th:href="@{/plugins/node-waves/waves.css}" rel="stylesheet"/>
    <link th:href="@{/plugins/bootstrap-select/css/bootstrap-select.css}" rel="stylesheet"/>
    <link th:href="@{/plugins/multi-select/css/multi-select.css}" rel="stylesheet"/>
    <!-- Animation Css -->
    <link th:href="@{/plugins/animate-css/animate.css}" rel="stylesheet"/>

    <!-- Morris Chart Css-->
    <link th:href="@{/plugins/morrisjs/morris.css}" rel="stylesheet"/>

    <!-- Custom Css -->
    <link th:href="@{/css/style.css}" rel="stylesheet">
<!--    <link th:href="@{/css/w3.css}" rel="stylesheet">-->

    <!-- AdminBSB Themes. You can choose a theme from css/themes instead of get all themes -->
    <link th:href="@{/css/themes/all-themes.css}" rel="stylesheet"/>
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
</head>

<body class="theme-red">

    <div th:replace="~{/fragments/topnav.html :: topNav}">
    </div>
    <section th:replace="~{/fragments/sidenav.html :: sidenav}">

    </section>

    <section layout:fragment="custom-content">
    </section>
    <!-- Jquery Core Js -->
    <script th:src="@{/plugins/jquery/jquery.min.js}"></script>
    <!-- Bootstrap Core Js -->
    <script th:src="@{/plugins/bootstrap/js/bootstrap.js}"></script>

    <!-- Select Plugin Js -->
    <script th:src="@{/plugins/bootstrap-select/js/bootstrap-select.js}"></script>

    <!-- Slimscroll Plugin Js -->
    <script th:src="@{/plugins/jquery-slimscroll/jquery.slimscroll.js}"></script>

    <!-- Waves Effect Plugin Js -->
    <script th:src="@{/plugins/node-waves/waves.js}"></script>

    <!-- Jquery CountTo Plugin Js -->
    <script th:src="@{/plugins/jquery-countto/jquery.countTo.js}"></script>
    <script th:src="@{/plugins/multi-select/js/jquery.multi-select.js}"></script>

    <!-- Morris Plugin Js -->
    <script th:src="@{/plugins/raphael/raphael.min.js}"></script>
    <script th:src="@{/plugins/morrisjs/morris.js}"></script>

    <!-- ChartJs -->
    <script th:src="@{/plugins/chartjs/Chart.bundle.js}"></script>

    <!-- Flot Charts Plugin Js -->
    <script th:src="@{/plugins/flot-charts/jquery.flot.js}"></script>
    <script th:src="@{/plugins/flot-charts/jquery.flot.resize.js}"></script>
    <script th:src="@{/plugins/flot-charts/jquery.flot.pie.js}"></script>
    <script th:src="@{/plugins/flot-charts/jquery.flot.categories.js}"></script>
    <script th:src="@{/plugins/flot-charts/jquery.flot.time.js}"></script>

    <!-- Sparkline Chart Plugin Js -->
    <script th:src="@{/plugins/jquery-sparkline/jquery.sparkline.js}"></script>

    <!-- Custom Js -->
    <script th:src="@{/js/admin.js}"></script>
    <!-- Demo Js -->
    <script th:src="@{/js/demo.js}"></script>
    <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
    <script th:src="@{/js/pages/monthlyFee.js}"></script>
    <script th:src="@{/js/pages/updateinncialDetails.js}"></script>
    <script th:src="@{/js/pages/admissionFee.js}"></script>
    <script th:src="@{/js/pages/sponsor.js}"></script>
    <script th:src="@{/js/pages/paymentModesHtml.js}"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/printThis/1.15.0/printThis.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.5.3/jspdf.debug.js" integrity="sha384-NaWTHo/8YCBYJ59830LTz/P4aQZK1sS0SneOgAvhsIl3zBu8r9RevNg5lHCHAuQ/" crossorigin="anonymous"></script>

</body>

</html>
