<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="row logoAndSrch mt-0" th:fragment="logoAndSrch">
    <div class="container p-0">
        <div class="row">
            <div class="col-md-3 img-fluid logo d-flex justify-content-start">
                <a th:href="@{/}" class="w-100 mt-1"> <img class="img-fluid my-auto" th:src="@{/img/logo.png}" /> </a>
            </div>
            <div class="col-md-7 search d-flex justify-content-end">
                <form method="post" class="my-auto w-100 form-inline">
                    <div class="md-form w-100">
                        <input type="text" id="search" name="myCountry" class=" form-control" style="width: 85%" >
                        <label for="search">Search with ISBN/Author/Publisher</label>
                        <button type="submit" class="p-2 btn btn-primary float-right mt-2" style="width: 12%">Search</button>
                    </div>
                </form>
            </div>
            <div class="col-md- d-flex justify-content-end">
                Cart
            </div>
        </div>
    </div>
</div>
</body>
</html>
