<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div  class=" row topNavbar mt-0" th:fragment="topNavBar">
    <nav class="navbar p-0 navbar-expand-lg navbar-dark primary-color" style="width: 100%">
        <div class="container p-0">
            <!-- Collapse button -->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav"
                    aria-controls="basicExampleNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>


            <div class="collapse navbar-collapse" id="basicExampleNav">

                <ul class="navbar-nav mr-auto">
                    <li><img th:src="@{/img/seperator.png}"></li>
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Browse By Subject
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li><img th:src="@{/img/seperator.png}"></li>

                    <li class="nav-item">
                        <a class="nav-link" href="#">Browse By Publisher</a>
                    </li>
                    <li><img th:src="@{/img/seperator.png}"></li>

                    <li class="nav-item">
                        <a class="nav-link" href="#">Browse By Author</a>
                    </li>
                    <li><img th:src="@{/img/seperator.png}"></li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown"
                           aria-haspopup="true" aria-expanded="false">Latest Book</a>
                        <div class="dropdown-menu dropdown-primary" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="#">Action</a>
                            <a class="dropdown-item" href="#">Another action</a>
                            <a class="dropdown-item" href="#">Something else here</a>
                        </div>
                    </li>
                    <li><img th:src="@{/img/seperator.png}" ></li>

                    <li class="nav-item">
                        <a class="nav-link" href="#">Special Offer</a>
                    </li>
                    <li><img th:src="@{/img/seperator.png}"></li>

                </ul>
            </div>
        </div>
    </nav>

    </nav>
</div>
</body>
</html>
