<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
     <title>Title</title>
    <link rel="stylesheet" th:href="@{/bootstrap.css}">
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <table>
                    <tr><td><a th:href="@{'/registration'}">Add New student</a></td></tr>
                    <tr><td><a th:href="@{'/students'}">Show Student List</a></td></tr>
                </table>
            </div>
        </div>
    </div>
</body>
</html>