/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jun 25, 2019, 2:43:51 AM
    Author     : HP
*/
@font-face {
    font-family: 'Aclonica', sans-serif;
    src: url('/fonts/Aclonica-Regular.ttf');
}

@font-face {
    font-family:  'Playball', cursive;
    src: url('/fonts/Playball-Regular.ttf');
    font-style: italic;
    font-weight: bold;
}

body {
    background: url('/img/bg.jpeg') fixed;
    background-size: cover;
    padding-top: 13px;
    margin-top: -13px;
    font-family:'Aclonica',sans-serif;
}

.mainBody{
    margin-bottom: 50px;
    background: #CCCCCC;
    opacity: 0.8;
}

.designation{
    font-family: 'Courgette',cursive;
    color: #413b4b;
}

.fName{

}

.leftMostCol{
   background: #293462;

}
.personalDetails{
}

.rightMostCol{
    margin-top: 35px;
    margin-bottom: 66px;
}

.pp img{
    border-radius: 50%;
}

a:link{
    text-decoration: none;
    color: black;
}
a:hover {
    text-decoration: none;
}
h1{
    margin: 0px;
}

.description{
    padding: 0 10px 0 19px;
    margin-left: 5px;
}



.titlesOfLeftCol{
    background: #216583;
    border-radius: 0 25px 25px 0;
    color: white;
    width: 100%;
    padding: 6px 0 4px 24px;
}

.titlesOfRightCol{
    background: #216583;
    color: white;
    width: 100%;
    padding: 6px 0 4px 41px;
}

.rightColDescription:first-child{
    margin: 10px 0px 0px 10px;
}
.rightColDescription{
    margin: 0px 0px -5px 10px;
}

.achvmntTitle{
    margin: 0;
    font-size: 17px;
}

.skillLevels{
    color: #293462;
}

@media only screen and (min-width: 992px) {
    .marginLeft{
        margin-left: 12px;
    }

    .name{
        margin-top: 25px;
    }

    .titlesOfLeftCol{
        margin-top:30px;
    }

    .titlesOfLeftCol h3{
        margin: 0 0 0 28px;
        padding: 5px 0px 5px 0;
    }

    .rightColBody{
        padding-left: 74px;
        margin-top: 27px;
    }

    /*
        though titleOfLeftCol class is in generalized area but titleOfRightCol.It is
        because,in mobile view border radius need to be in right side
    */
    .titlesOfRightCol{
        border-radius: 25px 0px 0 25px;
    }


    .titlesOfRightCol h3{
        margin: 0 0 0 40px;
        padding: 5px 0px 5px 0;
    }


}

@media only screen and (max-width: 991px) {
    .marginLeft{
        align-content: center;
    }

    .name{
        margin-left: 10px;
    }

    .titlesOfLeftCol{
        margin-top:15px;
    }

    .titlesOfLeftCol h3{
        margin: 0 0 0 26px;
        padding: 5px 0px 5px 0;
    }

    .titlesOfRightCol{
        border-radius: 0 25px 25px 0;
    }

    .titlesOfRightCol h3{
        margin: 0 0 0 26px;
        padding: 5px 0px 5px 0;
    }
}