<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{dashboardLayout.html}">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>

<body layout:fragment="custom-content">
<div id="content-wrapper">

    <div class="container-fluid">
            <div class="col-10 offset-1">
                <div class="card  p-4">
                    <form>
                        <div class="md-form">
                            <input type="text" id="form1" class="form-control">
                            <label for="form1">Example label</label>
                        </div>
                    </form>
                </div>
            </div>
    </div>

</div>

</body>
</html>
