<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>SB Admin - Dashboard</title>

    <!-- Custom fonts for this template-->
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" th:href="@{/css/all.css}">
    <link rel="stylesheet" th:href="@{/css/fontawesome.css}">
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/mdb.min.css}">
    <link th:href="@{https://cdn.jsdelivr.net/npm/select2@4.0.12/dist/css/select2.min.css}"  rel="stylesheet" type="text/css" />

    <!-- Page level plugin CSS-->
    <link th:href="@{/datatables/dataTables.bootstrap4.css}" rel="stylesheet">

    <!-- Custom styles for this template-->
    <link rel="stylesheet" th:href="@{/css/sb-admin.css}" >

</head>

<body id="page-top" >

<div class="sticky" th:replace="~{/dashboard/dashBoardToolBar.html :: dashBoardToolBar}">

</div>


<div id="wrapper">

    <!-- Sidebar -->
    <div th:replace="~{/dashboard/sideNav.html :: sideNav}">

    </div>

    <div id="content-wrapper">
        <div class=" mainBody">
            <div layout:fragment="custom-content" style="background: #F5F5F5">

            </div>
        </div>
    </div>
</div>
<script th:src="@{/js/jquery.min.js}"></script>

<script th:src="@{/js/bootstrap.bundle.js}"></script>
<!-- Page level plugin JavaScript-->
<script th:src="@{/chart.js/Chart.min.js}"></script>
<script th:src="@{/datatables/jquery.dataTables.min.js}"></script>
<script th:src="@{/datatables/dataTables.bootstrap4.min.js}"></script>
<script th:src="@{/js/mdb.min.js}"></script>

<!-- Custom scripts for all pages-->
<script th:src="@{/js/sb-admin.min.js}"></script>

<!-- Demo scripts for this page-->
<script th:src="@{/js/demo/datatables-demo.js}"></script>
<script th:src="@{/js/demo/chart-area-demo.js}"></script>
<script th:src="@{https://cdn.jsdelivr.net/npm/select2@4.0.12/dist/js/select2.min.js}"></script>

<script>
    $(document).ready(function() {
        $('.js-example-basic-multiple').select2();
    });

    //     function readURL(input) {
    //         if (input.files && input.files[0]) {
    //             var reader = new FileReader();
    //
    //             reader.onload = function(e) {
    //                 $('#blah').attr('src', e.target.result);
    //             }
    //
    //             reader.readAsDataURL(input.files[0]);
    //         }
    //     }
    //
    // $("#imgInp").change(function() {
    //     readURL(this);
    // });

    // $(function(){
    //     $('#input-file-now').change(function(){
    //         var combinedSize = 0;
    //         for(var i=0;i<this.files.length;i++) {
    //             combinedSize += (this.files[i].size||this.files[i].fileSize);
    //         }
    //
    //         document.getElementById('fileSize').innerHTML = (combinedSize/(1000*1000)).toPrecision(2) + " Mb";
    //         // alert(combinedSize);
    //     })
    // })

</script>

</body>

</html>
