<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{dashboardLayout.html}">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>

<body layout:fragment="custom-content">
<div id="content-wrapper">

    <div class="container-fluid">
            <div class="col-10 offset-1">
                <div class="card  p-4">
                    <form method="POST" th:action="@{/upload}" enctype="multipart/form-data">

                        <input type="file" name="file" class=""/><br/>

                        <div class="mt-3">
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </div>
                    </form>

                    <div th:if="${message}">
                        <h2 th:text="${message}"/>
                    </div>
                </div>
            </div>
    </div>

</div>

</body>
</html>
