<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/bootstrap.css}">
</head>
<body>
    <table>
        <tr>
            <th>ID</th>
            <th>Name</th>
        </tr>
        <tr th:each="student:${list}">
           <td ><a th:href="@{'/students/'+${student.id}}" th:text="${student.id}"></a></td>
           <td th:text="${student.name}"></td>
        </tr>
    </table>
</body>
</html>