<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{bootstrap.css}">
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-3">
                <button class="btn btn-primary">Button</button>
            </div>
            <div class="col-lg-6 col-md-3">
                dddd
            </div>
            <div class="col-lg-3 col-md-3">
                ads
            </div>
        </div>
    </div>
</body>
</html>