<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/bootstrap.css}">
    <link rel="stylesheet" th:href="@{/style.css}">
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <form th:action="@{~/login}" th:method="post">
                    <div class="form-group">
                        <lable for="username-id">Username</lable>
                        <input type="text" name="username" class="form-control" id="username-id">
                    </div>
                    <div class="form-group">
                        <lable for="username-id">Password</lable>
                        <input type="text" name="password" class="form-control" id="passowrd-id">
                    </div>
                    <button class="btn btn-primary">Log In</button>
                </form>
            </div>
        </div>
    </div>
</body>
</html>