<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout.html}">
<head>
    <meta charset="UTF-8">
    <title>মূল পাতা</title>
</head>
<body>
<div class="col-lg-9" layout:fragment="custom-content">
    <div class="row">
        <div class="col">
            <div class="contactForm">
                <h2>Stacked form</h2>
                <form action="/action_page.php">
                    <div class="form-group">
                        <label for="email">নাম :</label>
                        <input type="text" class="form-control" id="email"   placeholder="আপনার নাম" name="name" required>
                    </div>
                    <div class="form-group">
                        <label for="pwd">ইমেইল:</label>
                        <input type="email" class="form-control" id="pwd" placeholder="আপনার ইমেইল " name="email" required>
                    </div>
                    <div class="form-group">
                        <label >প্রতিষ্ঠান:</label>
                        <input type="email" class="form-control" placeholder="আপনার প্রতিষ্ঠান" name="email" required>
                    </div>
                    <div class="form-group">
                        <label for="pwd">মতামত/অভিযোগ:</label>
                        <textarea type="text" class="form-control" placeholder="আপনার মতামত/অভিযোগ " name="pswd" required></textarea>
                    </div>
                    <button type="submit"  class="btn btn-primary">সাবমিট</button>
                </form>
            </div>

        </div>
    </div>

</div>
</div>
</body>
</html>