<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout.html}">
<head>
    <meta charset="UTF-8">
    <title>মূল পাতা</title>
</head>
<body>
<div class="col-lg-9" layout:fragment="custom-content">
    <div class="row">
        <div class="col">
            <div class="contactForm">
                <h4 class="text-center">যোগাযোগ </h4>
                <form th:object="${mail}" th:action="@{/sendMessage}" th:method="POST">
                    <div class="form-group">
                        <label>নাম :<span style="color: red">*</span></label>
                        <input type="text" th:field="*{name}" class="form-control" required/>
                    </div>
                    <div class="form-group">
                        <label>ইমেইল:<span style="color: red">*</span></label>
                        <input type="email" th:field="*{sender}" class="form-control" placeholder="" name="email"
                               required/>
                    </div>
                    <div class="form-group">
                        <label>বিষয়:<span style="color: red">*</span></label>
                        <input type="text" th:field="*{subject}" class="form-control" placeholder="" name="email"
                               required/>
                    </div>
                    <div class="form-group">
                        <label>প্রতিষ্ঠান:</label>
                        <input type="text" th:field="*{company}" class="form-control" placeholder="" name="company"/>
                    </div>
                    <div class="form-group">
                        <label>মতামত/অভিযোগ:<span style="color: red">*</span></label>
                        <textarea type="text" th:field="*{message}" rows="8" class="form-control" placeholder=""
                                  name="pswd" required></textarea>
                    </div>

                    <div class="form-group">
                        <label class="">Upload file:</label>
                        <input class="" type="file" name="file">
                    </div>

                    <button type="submit" class="btn btn-primary">সাবমিট</button>
                </form>
            </div>

        </div>
    </div>

</div>
</div>
</body>
</html>
