<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{bootstrap.css}">
    <link rel="stylesheet" th:href="@{style.css}">
</head>
<body>
<div class="container-fluid mainBody">
    <div class="row">
        <nav class="navbar navbar-expand-sm bg-light">

            <!-- Links -->
            <ul class="navbar-nav">

            </ul>

        </nav>
    </div>
    <div class="row">
        <div class="col-lg-3">
        </div>
        <div class="col-lg-6">
            <div class="row">
                <div class="col">

                    <div class="row">
                        <div class="catName col">
                            <p>বাংলাদেশ সংবাদ</p>
                        </div>
                    </div>
                    <div class="card postCard" th:each="post:${postList}">
                        <a th:href="@{'/post/'+${post.id}}" target="_blank">
                            <div class="row">
                                <div class="col-lg-3 col-md-3 col-sm-4 col-4">
                                    <img class="ftrImg img-fluid" th:src="${post.ftrImg}"/>
                                </div>
                                <div class="headLineAndPostInfo col-lg-9 col-md-9 col-sm-8 col-8">
                                    <div class="row headLine">
                                        <span th:text="${post.heading}">নেই বললেই চলে। একটা উদাহরণেই তা বুঝিয়ে দেওয়া যায়।</span>

                                    </div>

                                    <div class="row postInfo">
                                        <div class="col-lg-8 col-md-8 col-sm-8 col-8">
                                                <span class="time"
                                                      th:text="${timeConverter.getDateTime(post.getDateTime())}"> ১ ঘন্টা ২৫ মিনিট আগে</span>
                                        </div>
                                        <div class="col-lg-4 col-md-4 col-sm-4 col-4">
                                            <img class="publisherLogo"
                                                 th:src="${postService.getPulisherLogo(post.getPublisher())}"/>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>

                    </div>
                    <div class="row justify-content-center" >
<!--                        <button class="btn">আরও</button>-->
                        <a th:href="@{/(page=${nextPage})}">আরও</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3">

        </div>
    </div>
</div>
</body>
</html>