<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layoutForSingleCat.html}">
<head>
    <meta charset="UTF-8">
    <title>Main Page</title>
</head>
<body>
<div class="col-lg-9" layout:fragment="custom-content">
    <div class="row oneCat">
        <div class="col">
            <div class="card postCard" th:each="post:${allPosts}">
                <a th:href="@{'/post/'+${post.cat}+'/'+${post.id}}" target="_blank">
                    <div class="row">
                        <div class="col-lg-3 col-md-3 col-sm-4 col-4">
                            <img class="ftrImg img-fluid" th:src="${post.ftrImg}"/>
                        </div>
                        <div class="headLineAndPostInfo col-lg-9 col-md-9 col-sm-8 col-8">
                            <div class="row headLine">
                                <span th:text="${post.heading}"></span>

                            </div>

                            <div class="row postInfo d-inline-flex flex-row-reverse">
                                <div class="ml-2" th:width="196" th:height="46">
                                    <img class="publisherLogo"
                                         th:src="${postService.getPulisherLogo(post.getPublisher())}"/>
                                </div>

                                <div class="ml-2">
                                                <span class="time"
                                                      th:text="${utilityClass.getDateTime(post.getDateTime())}"> </span>
                                </div>


                                <div class=" ">
                                                <span class="time"
                                                      th:text="${utilityClass.getCatNameInBangla(post.cat)}"> </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>

            </div>

            <div class="row justify-content-center">
                <a class="btn btn-primary" th:href="@{/(page=${nextPage})}">আরও</a>
            </div>
        </div>
    </div>

</div>
</div>
</body>
</html>