<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>

    <meta charset="UTF-8">

    <link rel="stylesheet" th:href="@{/css/bootstrap.css}">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" th:href="@{/css/all.css}">
    <link rel="stylesheet" th:href="@{/css/fontawesome.css}">

    <script th:src="@{https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js}"></script>
    <script th:src="@{https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js}"></script>
    <script th:src="@{https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js}"></script>
    <script>
        var prevScrollpos = window.pageYOffset;
        window.onscroll = function() {
            var currentScrollPos = window.pageYOffset;
            if (prevScrollpos > currentScrollPos) {
                document.getElementById("topNavbar").style.top = "0";
                document.getElementById("leftNavBar").style.top = "70px";
            } else {
                document.getElementById("topNavbar").style.top = "-60px";
                document.getElementById("leftNavBar").style.top = "0px";
            }
            prevScrollpos = currentScrollPos;
        }
    </script>
</head>

<body>
<div class="container-fluid">
    <div class="mainBody">
        <div th:replace="~{fragments/header.html :: topnav}">

        </div>

        <div class="row" style="margin-top:75px">
            <div th:replace="~{fragments/leftNavBarForSingleCat.html :: leftNavBarForSingleCat}">

            </div>

            <div layout:fragment="custom-content">

            </div>
        </div>

        <div th:replace="~{fragments/footer.html :: footer}">

        </div>
    </div>


</div>

<!--js files will be loaded here-->


</body>

</html>

