<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout.html}">
<head>
    <meta charset="UTF-8">
    <title th:text="${post.getHeading()}"></title>
</head>
<body>
<div class="col-lg-9" layout:fragment="custom-content">
    <div class="row">
        <div class="col">
            <h2 class="text-center mb-3" style="font-size: 22px" th:text="${post.heading}"></h2>
            <span th:each="para:${post.postBody}">
                <span th:if="${para.getImgList()}">
                    <span th:each="img:${para.getImgList()}">
                        <figure>
                            <img class="img-fluid mx-auto d-block" th:src="${img.getImgUrl()}"/>
                            <figcaption class="text-center" th:text="${img.getImgCaption()}"></figcaption>
                        </figure>
                    </span>
                    <p th:text="${para.description}"></p>
                </span>

                <span th:unless="${para.getImgList()}">
                    <span th:each="img:${para.getImgList()}">
                        <figure>
                            <img class="img-fluid" th:src="${img.getImgUrl()}"/>
                            <figcaption th:text="${img.getImgCaption()}"></figcaption>
                        </figure>
                    </span>
                    <p th:text="${para.description}"></p>
                </span>
            </span>
        </div>
    </div>

    <div class="row oneCat">
        <div class="col">

            <div id="politics" class="row">
                <div class="catName col">
                    <p class="text-center nav-link">আরোও পড়ুন </p>
                </div>
            </div>
        </div>
    </div>
    <div class="row oneCat">
        <div class="col">
            <div class="card postCard" th:each="post:${catWiseAllNews}">
                <a th:href="@{'/post/'+${post.cat}+'/'+${post.id}}" target="_blank">
                    <div class="row">
                        <div class="col-lg-3 col-md-3 col-sm-4 col-4">
                            <img class="ftrImg img-fluid" th:src="${post.ftrImg}"/>
                        </div>
                        <div class="headLineAndPostInfo col-lg-9 col-md-9 col-sm-8 col-8">
                            <div class="row headLine">
                                <span th:text="${post.heading}">নেই বললেই চলে। একটা উদাহরণেই তা বুঝিয়ে দেওয়া যায়।</span>

                            </div>

                            <div class="row postInfo">
                                <div class="col-lg-8 col-md-8 col-sm-8 col-8">
                                                <span class="time"
                                                      th:text="${utilityClass.getDateTime(post.getDateTime())}"> ১ ঘন্টা ২৫ মিনিট আগে</span>
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-4 col-4">
                                    <img class="publisherLogo"
                                         th:src="${postService.getPulisherLogo(post.getPublisher())}"/>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>

            </div>
        </div>
    </div>

</div>
</body>
</html>