<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link rel="stylesheet" th:href="@{/bootstrap.css}"/>
    <link rel="stylesheet" th:href="@{/style.css}"/>
</head>
<body>
<div class="container mainBody">
    <div class="row">
        <div class="col-1 leftMostCol">

        </div>

        <div class="col-11 rightMostCol">
            <div class="row">
                <div class="col-lg-4">
                    <div class="row pp marginLeft justify-content-center">
                        <img class="img-fluid"
                             th:src="@{https://scontent.fdac21-1.fna.fbcdn.net/v/t1.0-0/p206x206/13331106_987612578013297_6066224439769302200_n.jpg?_nc_cat=103&_nc_oc=AQlUHjD90I_-lIL8fLbxnS8R6Qk_z92nZAbXV9Oq-Q1umq9eLZzTTwp8GIp4mOQ7JwI&_nc_ht=scontent.fdac21-1.fna&oh=a13ea11c7183c5c0809b2af530195f26&oe=5DEDFABB}">
                    </div>
                    <div class="row marginLeft name ">
                        <h1 class="fName">MD. MINHAZUR</h1>
                        <h1 class="lName">RAHMAN</h1>
                        <h3 class="designation">Java Developer</h3>
                    </div>

                    <div class="row titleOfLeftCol">
                        <h3><strong>ABOUT ME</strong></h3>
                    </div>

                    <div class="row description">
                        <p class="text-justify">
                            Lorem Ipsum is simply dummy text of the
                            printing and typesetting industry. Lorem Ipsum
                            has been the industry's standard dummy text ever
                            since the 1500s, when an unknown printer took
                            a galley of type and scrambled it to make
                            a type specimen book. It has survived not
                            only five centuries, but also the leap into
                            electronic typesetting, remaining essentially
                            unchanged.
                        </p>
                    </div>
                </div>

                <div class="col-lg-8 rightColBody">

                    <div class="row titleOfRightCol">
                        <h3><strong>AWARDS</strong></h3>
                    </div>

                    <div class="row">
                        <div class="row rightColDescription">
                            <div class="col-lg-4">
                                <p class="achvmntTitle"><strong>Hacker Rank</strong></p>
                            </div>
                            <div class="col-lg-8">
                                <p class="achvmntTitle"><strong>Hacker Rank</strong></p>
                                <p class="text-justify">
                                    Lorem Ipsum is simply dummy text of the
                                    printing and typesetting industry. Lorem Ipsum
                                    has been the industry's standard dummy text ever
                                </p>
                            </div>
                        </div>
                        <div class="row rightColDescription">
                            <div class="col-lg-4">
                                <span>f</span>  <h5><strong>Hacker Rank</strong></h5>
                            </div>
                            <div class="col-lg-8">
                                <h5><strong>Hacker Rank</strong></h5>
                                <p class="text-justify">
                                    Lorem Ipsum is simply dummy text of the
                                    printing and typesetting industry. Lorem Ipsum
                                    has been the industry's standard dummy text ever
                                </p>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>