<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layoutForm.html}">

<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <title>Form Examples | Bootstrap Based Admin Template - Material Design</title>
</head>

<body class="theme-red">


<section class="content" layout:fragment="custom-content">
    <div class="container-fluid">
        <div class="row clearfix">
            <div class="col-lg-6 col-lg-offset-3 col-md-12 col-sm-12 col-xs-12">
                <div class="card" style="padding: 20px">
                    <select id="studentIdsOnMnthFee" class="form-control show-tick"
                            data-live-search="true">
                        <option value="0">Search with student ID</option>
                        <option th:each="st_id:${studentIDS}"
                                th:text="${st_id}"></option>
                    </select>
                </div>
            </div>
        </div>
        <div class="row clearfix center-align">
            <div class="col-lg-6  col-md-12 col-sm-12 col-xs-12">
                <div class="card" style="padding: 20px">

                    <div class="header">
                        <h2 class="text-center">
                            Make A Payment
                        </h2>
                        <ul class="header-dropdown m-r--5">
                            <li class="dropdown">
                                <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown"
                                   role="button" aria-haspopup="true" aria-expanded="false">
                                    <i class="material-icons">more_vert</i>
                                </a>
                                <ul class="dropdown-menu pull-right">
                                    <li><a href="javascript:void(0);">Action</a></li>
                                    <li><a href="javascript:void(0);">Another action</a></li>
                                    <li><a href="javascript:void(0);">Something else here</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <div class="">
                        <table class="table table-striped" id="paymentTbl">
                            <tbody id="paymentTblBody">
                            <form>
                                <table class="table">

                                    <tr id="pay_st_id">
                                        <td style="width: 30%;padding-top: 17px">Student ID</td>
                                        <td>
                                            <div class="form-group form-float" style="margin-bottom: 0">
                                                <div class="form-line">
                                                    <input type="text" disabled id="pay_st_d_field"
                                                           class="form-control text-right">
                                                </div>
                                            </div>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td style="width: 30%;padding-top: 17px">Payment Type</td>
                                        <td>
                                            <select id="paymentType" class="form-control show-tick">
                                                <option value="tFee">Tuition Fee</option>
                                                <option value="tFeeDue">Tuition Fee Due</option>
                                                <option value="collection">Collection</option>
                                                <option value="cDue">Collection Due</option>
                                            </select>
                                        </td>
                                    </tr>

                                    <tr id="remainingTuitionDue" class="bg-danger">
                                        <td>Tuition Due</td>
                                        <td><input id="remainingTDue" disabled class="form-control text-right"
                                                   value="150"
                                                   type="text"></td>
                                    </tr>


                                    <tr id="remainingCollectionDue" class="bg-danger">
                                        <td>Collection Due</td>
                                        <td><input id="remainingCDue" disabled class="form-control text-right"
                                                   value="150"
                                                   type="text"></td>
                                    </tr>

                                    <tr>
                                        <td style="width: 70%;padding-top: 20px">Cash</td>
                                        <td>
                                            <div class="form-group form-float" style="margin-bottom: 0">
                                                <div class="form-line">
                                                    <input type="text" id="cash"
                                                           class="form-control text-right">
                                                </div>
                                            </div>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td style="width: 70%;padding-top: 20px">Cheque</td>
                                        <td>
                                            <div class="form-group form-float" style="margin-bottom: 0">
                                                <div class="form-line">
                                                    <input type="text" id="cheque" value="0.00"
                                                           class="form-control text-right">
                                                </div>
                                            </div>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td style="width: 70%;padding-top: 20px">Credit Card</td>
                                        <td>
                                            <div class="form-group form-float" style="margin-bottom: 0">
                                                <div class="form-line">
                                                    <input type="text" id="cCard"
                                                           class="form-control text-right">
                                                </div>
                                            </div>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td style="width: 70%;padding-top: 20px">Paypal</td>
                                        <td>
                                            <div class="form-group form-float" style="margin-bottom: 0">
                                                <div class="form-line">
                                                    <input type="text" id="paypal"
                                                           class="form-control text-right">
                                                </div>
                                            </div>
                                        </td>
                                    </tr>

                                    <tr id="monthlyFee">
                                        <td style="width: 70%;padding-top: 20px">Monthly Fee</td>
                                        <td>
                                            <div class="form-group form-float" style="margin-bottom: 0">
                                                <div class="form-line">
                                                    <input type="text" id="mFee"
                                                           class="form-control text-right">
                                                </div>
                                            </div>
                                        </td>
                                    </tr>

                                    <tr id="monthlyFeePaid">
                                        <td style="width: 70%;padding-top: 20px">Monthly Fee Paid</td>
                                        <td>
                                            <div class="form-group form-float" style="margin-bottom: 0">
                                                <div class="form-line">
                                                    <input type="text" id="mFeePaid"
                                                           class="form-control text-right">
                                                </div>
                                            </div>
                                        </td>
                                    </tr>

                                    <tr id="monthlyFeeDue">
                                        <td style="width: 70%;padding-top: 20px">Monthly Fee Due</td>
                                        <td>
                                            <div class="form-group form-float" style="margin-bottom: 0">
                                                <div class="form-line">
                                                    <input type="text" id="mFeeDue"
                                                           class="form-control text-right">
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr id="monthlyFeeDuePay">
                                        <td style="width: 70%;padding-top: 20px">Monthly Fee Due Pay</td>
                                        <td>
                                            <div class="form-group form-float" style="margin-bottom: 0">
                                                <div class="form-line">
                                                    <input type="text" id="mFeeDuePay"
                                                           class="form-control text-right">
                                                </div>
                                            </div>
                                        </td>
                                    </tr>

                                    <tr id="collectionTarget">
                                        <td style="width: 70%;padding-top: 20px">Collection Targed</td>
                                        <td>
                                            <div class="form-group form-float" style="margin-bottom: 0">
                                                <div class="form-line">
                                                    <input type="text" id="cTarget"
                                                           class="form-control text-right">
                                                </div>
                                            </div>
                                        </td>
                                    </tr>

                                    <tr id="collectionCollected">
                                        <td style="width: 70%;padding-top: 20px">Collection Collected</td>
                                        <td>
                                            <div class="form-group form-float" style="margin-bottom: 0">
                                                <div class="form-line">
                                                    <input type="text" id="cCollected"
                                                           class="form-control text-right">
                                                </div>
                                            </div>
                                        </td>
                                    </tr>

                                    <tr id="collectionDue">
                                        <td style="width: 70%;padding-top: 20px">Collection Due</td>
                                        <td>
                                            <div class="form-group form-float" style="margin-bottom: 0">
                                                <div class="form-line">
                                                    <input type="text" id="cDue"
                                                           class="form-control text-right">
                                                </div>
                                            </div>
                                        </td>
                                    </tr>

                                    <tr id="collectionDuePay">
                                        <td style="width: 70%;padding-top: 20px">Collection Due</td>
                                        <td>
                                            <div class="form-group form-float" style="margin-bottom: 0">
                                                <div class="form-line">
                                                    <input type="text" id="cDuePay"
                                                           class="form-control text-right">
                                                </div>
                                            </div>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td></td>
                                        <td class="align-right">
                                            <button type="button" id="pay"
                                                    class="btn btn-block btn-primary waves-effect">Pay
                                            </button>
                                        </td>
                                    </tr>

                                </table>
                            </form>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
                <div class="card" style="padding: 20px">

                    <div class="header">
                        <h2 class="text-center">
                            Monthly Fee Collection
                        </h2>
                        <ul class="header-dropdown m-r--5">
                            <li class="dropdown">
                                <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown"
                                   role="button" aria-haspopup="true" aria-expanded="false">
                                    <i class="material-icons">more_vert</i>
                                </a>
                                <ul class="dropdown-menu pull-right">
                                    <li><a href="javascript:void(0);">Action</a></li>
                                    <li><a href="javascript:void(0);">Another action</a></li>
                                    <li><a href="javascript:void(0);">Something else here</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <div>
                        <table class="table table-bordered" id='monthlyFeeTbl'>
                            <tbody id="monthlyFeeTblBody">
                            </tbody>
                        </table>
                        <button type="button" class="btn" id="pdfGenerator">Print Satement</button>
                    </div>
                </div>


            </div>
        </div>

        <!--        <div class="row clearfix" style="margin-top: 0px">-->
        <!--            <div class="col-lg-6 col-lg-offset-3 col-md-12 col-sm-12 col-xs-12">-->
        <!--                <div class="card" style="padding: 20px">-->
        <!--                    <button type="button" id="feeColl" class="btn  waves-effect">Fee Collection</button>-->
        <!--                    <button type="button" id="dueColl" class="btn  waves-effect">Due Collection</button>-->
        <!--                    <button type="button" id="collecColl" class="btn  waves-effect">Collection</button>-->
        <!--                    <button type="button" id="updateConditions" class="btn  waves-effect">Update onditions</button>-->
        <!--                </div>-->
        <!--            </div>-->
        <!--        </div>-->

    </div>
</section>
</body>

</html>
