<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>


<div class="row mb-3 mt-0" th:fragment="topnav">
    <div class="col-lg-6 offset-lg-3">
        <nav class="navbar navbar-expand-md bg-dark navbar-dark ">
            <a class="navbar-brand" href="#">সংবাদ</a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="collapsibleNavbar">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link text-white" href="#">সংবাদপত্র</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" href="#">ক্যাটাগরি</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" href="#">আমাদের সম্পর্কে</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" href="#">যোগাযোগ</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</div>


</body>
</html>