<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div class="col-lg-3 leftNavBar" th:fragment="leftNav">
    <nav class="navbar sticky-top bg-light">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="#politics">রাজনীতি</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#bangladesh">বাংলাদেশ</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#international">আন্তর্জাতিক</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#economy">অর্থনীতি</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#sports">খেলা</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#entertainment">বিনোদন</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#sciTech">বিজ্ঞান ও প্রযুক্তি</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#editorial">সম্পাদকীয়</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#opinion">মতামত</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#aboard">প্রবাসে বাংলাদেশীরা</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#campus">শিক্ষাঙ্গন</a>
            </li>
        </ul>
    </nav>
</div>

</body>
</html>