<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div class="col-lg-3 leftNavBar" th:fragment="leftNav">
    <nav id="leftNavBar" class=" navbar sticky-top bg-light">
        <ul class="navbar-nav">
            <li class="nav-item">
                 <a th:href="@{'/news/'+politics}" class="nav-link"><i class="fas fa-vote-yea mr-3"></i>রাজনীতি</a>
                <hr class="mt-0 mb-0" >
            </li>
            <li class="nav-item">
                <a th:href="@{'/news/'+bangladesh}" class="nav-link"><i class="fas fa-flag mr-3"></i>বাংলাদেশ</a>
                <hr class="mt-0 mb-0 hr" >
            </li>
            <li class="nav-item">
                <a th:href="@{'/news/'+international}" class="nav-link"><i class="fas fa-globe-asia mr-3"></i>আন্তর্জাতিক</a>
                <hr class="mt-0 mb-0 hr" >
            </li>
            <li class="nav-item">
                <a th:href="@{'/news/'+economy}" class="nav-link" ><i class="fas fa-chart-line mr-3"></i>অর্থনীতি</a>
                <hr class="mt-0 mb-0 hr" >
            </li>
            <li class="nav-item">
                <a th:href="@{'/news/'+sports}" class="nav-link" ><i class="fas fa-running mr-3"></i>খেলা</a>
                <hr class="mt-0 mb-0 hr" >
            </li>
            <li class="nav-item">
                <a th:href="@{'/news/'+entertainment}" class="nav-link" ><i class="fas fa-theater-masks mr-3"></i>বিনোদন</a>
                <hr class="mt-0 mb-0 hr" >
            </li>
            <li class="nav-item">
                <a th:href="@{'/news/'+sciTech}" class="nav-link"><i class="fas fa-satellite mr-3"></i>বিজ্ঞান ও প্রযুক্তি</a>
                <hr class="mt-0 mb-0 hr" >
            </li>
            <li class="nav-item">
                <a th:href="@{'/news/'+editorial}" class="nav-link" ><i class="fas fa-newspaper mr-3"></i>সম্পাদকীয়</a>
                <hr class="mt-0 mb-0 hr" >
            </li>
            <li class="nav-item">
                <a th:href="@{'/news/'+opinion}" class="nav-link" ><i class="fas fa-comment-alt mr-3"></i>মতামত</a>
                <hr class="mt-0 mb-0 hr" >
            </li>
            <li class="nav-item">
                <a th:href="@{'/news/'+aboard}" class="nav-link" ><i class="fas fa-plane-departure mr-3"></i>প্রবাসে বাংলাদেশীরা</a>
                <hr class="mt-0 mb-0 hr" >
            </li>
            <li class="nav-item">
                <a th:href="@{'/news/'+campus}" class="nav-link" ><i class="fas fa-university mr-3"></i>শিক্ষাঙ্গন</a>
                <hr class="mt-0 mb-0 hr" >
            </li>
        </ul>
    </nav>
</div>

</body>
</html>