<div class="">
  <div class="row oneCat">
    <div class="col">

<!--      post cards-->
      <div class="card postCard">
        <a target="_blank">
          <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-4 col-4">
              <img class="ftrImg img-fluid" src="https://www.bd-pratidin.com/assets/news_images/2019/09/05/223246_bangladesh_pratidin_putin.jpg"/>
            </div>
            <div class="headLineAndPostInfo col-md-9 col-8">
              <div class="row headLine">
                <span >যুক্তরাষ্ট্রকে চাপে রাখতে নতুন ক্ষেপণাস্ত্র তৈরির হুঁশিয়ারি পুতিনের</span>

              </div>

              <div class="row  postInfo d-inline-flex flex-row-reverse">
                <div class="ml-2">
                  <img class="publisherLogo" src="../../assets/img/logo_bdnews24.png"/>
                </div>
                <div class="ml-2">
                  <span class="time">০৬ সেপ্টেম্বর ২০১৯, </span>
                </div>
                <div class=" ">
                  <span class="time" >আন্তর্জাতিক</span>
                </div>
              </div>
            </div>
          </div>
        </a>
      </div>

      <div class="card postCard">
        <a target="_blank">
          <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-4 col-4">
              <img class="ftrImg img-fluid" src="https://www.bd-pratidin.com/assets/news_images/2019/09/05/223246_bangladesh_pratidin_putin.jpg"/>
            </div>
            <div class="headLineAndPostInfo col-md-9 col-8">
              <div class="row headLine">
                <span >যুক্তরাষ্ট্রকে চাপে রাখতে নতুন ক্ষেপণাস্ত্র তৈরির হুঁশিয়ারি পুতিনের</span>

              </div>

              <div class="row  postInfo d-inline-flex flex-row-reverse">
                <div class="ml-2">
                  <img class="publisherLogo" src="../../assets/img/logo_bdnews24.png"/>
                </div>
                <div class="ml-2">
                  <span class="time">০৬ সেপ্টেম্বর ২০১৯, </span>
                </div>
                <div class=" ">
                  <span class="time" >আন্তর্জাতিক</span>
                </div>
              </div>
            </div>
          </div>
        </a>
      </div>


      <div class="card postCard">
        <a target="_blank">
          <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-4 col-4">
              <img class="ftrImg img-fluid" src="https://www.bd-pratidin.com/assets/news_images/2019/09/05/223246_bangladesh_pratidin_putin.jpg"/>
            </div>
            <div class="headLineAndPostInfo col-md-9 col-8">
              <div class="row headLine">
                <span >যুক্তরাষ্ট্রকে চাপে রাখতে নতুন ক্ষেপণাস্ত্র তৈরির হুঁশিয়ারি পুতিনের</span>

              </div>

              <div class="row  postInfo d-inline-flex flex-row-reverse">
                <div class="ml-2">
                  <img class="publisherLogo" src="../../assets/img/logo_bdnews24.png"/>
                </div>
                <div class="ml-2">
                  <span class="time">০৬ সেপ্টেম্বর ২০১৯, </span>
                </div>
                <div class=" ">
                  <span class="time" >আন্তর্জাতিক</span>
                </div>
              </div>
            </div>
          </div>
        </a>
      </div>

      <div class="card postCard">
        <a target="_blank">
          <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-4 col-4">
              <img class="ftrImg img-fluid" src="https://www.bd-pratidin.com/assets/news_images/2019/09/05/223246_bangladesh_pratidin_putin.jpg"/>
            </div>
            <div class="headLineAndPostInfo col-md-9 col-8">
              <div class="row headLine">
                <span >যুক্তরাষ্ট্রকে চাপে রাখতে নতুন ক্ষেপণাস্ত্র তৈরির হুঁশিয়ারি পুতিনের</span>

              </div>

              <div class="row  postInfo d-inline-flex flex-row-reverse">
                <div class="ml-2">
                  <img class="publisherLogo" src="../../assets/img/logo_bdnews24.png"/>
                </div>
                <div class="ml-2">
                  <span class="time">০৬ সেপ্টেম্বর ২০১৯, </span>
                </div>
                <div class=" ">
                  <span class="time" >আন্তর্জাতিক</span>
                </div>
              </div>
            </div>
          </div>
        </a>
      </div>

      <div class="card postCard">
        <a target="_blank">
          <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-4 col-4">
              <img class="ftrImg img-fluid" src="https://www.bd-pratidin.com/assets/news_images/2019/09/05/223246_bangladesh_pratidin_putin.jpg"/>
            </div>
            <div class="headLineAndPostInfo col-md-9 col-8">
              <div class="row headLine">
                <span >যুক্তরাষ্ট্রকে চাপে রাখতে নতুন ক্ষেপণাস্ত্র তৈরির হুঁশিয়ারি পুতিনের</span>

              </div>

              <div class="row  postInfo d-inline-flex flex-row-reverse">
                <div class="ml-2">
                  <img class="publisherLogo" src="../../assets/img/logo_bdnews24.png"/>
                </div>
                <div class="ml-2">
                  <span class="time">০৬ সেপ্টেম্বর ২০১৯, </span>
                </div>
                <div class=" ">
                  <span class="time" >আন্তর্জাতিক</span>
                </div>
              </div>
            </div>
          </div>
        </a>
      </div>



      <div class="card postCard">
        <a target="_blank">
          <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-4 col-4">
              <img class="ftrImg img-fluid" src="https://www.bd-pratidin.com/assets/news_images/2019/09/05/223246_bangladesh_pratidin_putin.jpg"/>
            </div>
            <div class="headLineAndPostInfo col-md-9 col-8">
              <div class="row headLine">
                <span >যুক্তরাষ্ট্রকে চাপে রাখতে নতুন ক্ষেপণাস্ত্র তৈরির হুঁশিয়ারি পুতিনের</span>

              </div>

              <div class="row  postInfo d-inline-flex flex-row-reverse">
                <div class="ml-2">
                  <img class="publisherLogo" src="../../assets/img/logo_bdnews24.png"/>
                </div>
                <div class="ml-2">
                  <span class="time">০৬ সেপ্টেম্বর ২০১৯, </span>
                </div>
                <div class=" ">
                  <span class="time" >আন্তর্জাতিক</span>
                </div>
              </div>
            </div>
          </div>
        </a>
      </div>



      <div class="card postCard">
        <a target="_blank">
          <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-4 col-4">
              <img class="ftrImg img-fluid" src="https://www.bd-pratidin.com/assets/news_images/2019/09/05/223246_bangladesh_pratidin_putin.jpg"/>
            </div>
            <div class="headLineAndPostInfo col-md-9 col-8">
              <div class="row headLine">
                <span >যুক্তরাষ্ট্রকে চাপে রাখতে নতুন ক্ষেপণাস্ত্র তৈরির হুঁশিয়ারি পুতিনের</span>

              </div>

              <div class="row  postInfo d-inline-flex flex-row-reverse">
                <div class="ml-2">
                  <img class="publisherLogo" src="../../assets/img/logo_bdnews24.png"/>
                </div>
                <div class="ml-2">
                  <span class="time">০৬ সেপ্টেম্বর ২০১৯, </span>
                </div>
                <div class=" ">
                  <span class="time" >আন্তর্জাতিক</span>
                </div>
              </div>
            </div>
          </div>
        </a>
      </div>




      <div class="card postCard">
        <a target="_blank">
          <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-4 col-4">
              <img class="ftrImg img-fluid" src="https://www.bd-pratidin.com/assets/news_images/2019/09/05/223246_bangladesh_pratidin_putin.jpg"/>
            </div>
            <div class="headLineAndPostInfo col-md-9 col-8">
              <div class="row headLine">
                <span >যুক্তরাষ্ট্রকে চাপে রাখতে নতুন ক্ষেপণাস্ত্র তৈরির হুঁশিয়ারি পুতিনের</span>

              </div>

              <div class="row  postInfo d-inline-flex flex-row-reverse">
                <div class="ml-2">
                  <img class="publisherLogo" src="../../assets/img/logo_bdnews24.png"/>
                </div>
                <div class="ml-2">
                  <span class="time">০৬ সেপ্টেম্বর ২০১৯, </span>
                </div>
                <div class=" ">
                  <span class="time" >আন্তর্জাতিক</span>
                </div>
              </div>
            </div>
          </div>
        </a>
      </div>

      <div class="row justify-content-center">
        <a class="btn btn-primary" href="#">আরও</a>
      </div>
    </div>
  </div>

</div>
