<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/bootstrap.css}"/>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-lg-6 offset-lg-3">
                <form th:object="${role}" th:action="@{/role/save}">
                    <tbale>
                        <tr>
                            <td><label>Role name</label></td>
                            <td><input type="text" class="form-control" th:field="*{roleName}"/></td>
                        </tr>
                        <tr>
                            <td><label></label></td>
                            <td><input type="submit" class="btn" value="Submit"/></td>
                        </tr>
                    </tbale>
                </form>
            </div>
        </div>
    </div>
</body>
</html>